<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://alpha-blog-rajat.herokuapp.com/">Alpha Blog Application hosted on heroku</a>
			by <a href="http://www.rajatvig.com/">Rajat Vig</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>